* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.title {
  color: rgb(224, 132, 194);
}

.button {
  height: 100px;
  width: 100px;
}

.button--red {
  background-color: red;
}
.button--green {
  background-color:green;
}
.button--yellow {
  background-color: yellow;
}
.button--blue {
  background-color: blue;
}
.prompt-box {
  height: 200px;
  width: 100%;
}
.button--begin {
  display: block;
  height: 40px;
  width: 80px;
  margin: 30px;
  color: rgb(224, 132, 194);
}